/* VerticalSlider.module.css */

/* Global styles for pagination dots */
:global(.swiper-pagination-bullet) {
    /* background-color: #ccc;  */
    /* width: 12px;  */
    /* height: 12px; */
    /* border-radius: 50%;  */
    transition: all 0.5s ease; 
  }
  
  :global(.swiper-pagination-bullet-active) {
    background-color: #f14836 !important; /* Active dot color */
    transform: scale(2); 
  }
  
  /* Position the pagination dots */
  :global(.swiper-pagination) {
    bottom: 20px; /* Adjust vertical position */
    gap: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  